<!doctype html>
<html lang="en">

<script src="/js/handleJS.js"></script>

<head>
    <title>Introduction</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
</head>

<body style="background-color: #edf7ee">
    <div class="intro">
        <div class="container">
            <div class="wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1 class="text-center" style="font-family: 'Leitura Display Roman', sans-serif;">The Saigon Zoo and Botanical Gardens</h1>
                        <p style="font-family: 'Leitura Sans Grot 2', sans-serif;"> It was established in 1865, is Vietnam's largest zoo and botanical garden.
                            Located on Nguyen Binh Khiem Street in District 1, T.P. in Ho Chi Minh City,
                            it is home to over a hundred species of mammals, reptiles and birds, as well as many rare
                            orchids and ornamental plants.
                            Also within the grounds is the Museum of Vietnamese History, housing some 25,000 artifacts
                            of history
                            culture and ethnography of South Vietnam. The grounds also include a temple to the Hung
                            Kings
                            (formerly a monument to Indochinese soldiers who died for France during World War I).
                            Other parts of the zoo are divided into animal and plant conservation areas, an orchid
                            garden, and an amusement park. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <a href="/"><button type="button" name="" id="explore" class="btn btn-primary success" btn-lg btn-block" style="margin: 30px 0px;">Explore Our Zoo</button></a>
                    </div>
                </div>
            </div>

            <div class="row map">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3131437449647!2d106.70305431473389!3d10.787310992314145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4b66f95f11%3A0x30c94ba9f78ddb4d!2zVGjhuqNvIGPhuqdtIHZpw6pu!5e0!3m2!1sen!2s!4v1539575591442"
                        height="450" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" ></script>
</body>

</html>