body{
    margin: 0;
    padding: 0;
    user-select: none;
}
#b1,#b-minus,#b-plus,#b-left,#b-up,#b-down,#b-right,
#b-full,#b-initial,#done,#menu,#a-frame,#drag{
    z-index: 1;
    width: 7%;
    height: 32px;
    text-align:center;
    color:white;
}
#music_play,#music_pause{
    position: absolute;
    color: white;
}
#music_pause{
    display: none;
}
.music_btn {
    display: inline;
    margin-right: 40px;
    margin-left: 10px;
}
.control_btn{
    width:60%;
    position: absolute;
    left: 22%;
    padding-top:7px;
}
#add_animal_btn{
    z-index: 1;
    width: 4%;
    height: 32px;
    text-align: center;
    color: white;
    position: absolute;
    top: 4px;
    background-color: #bf2424b3;;
    border: 1px solid #bf2424;
    border-radius: 7px;
    transition: 0.3s all;
}
#add_animal_btn:hover{
    background-color: #bf2424;;
}
.menu_top{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 40px;
    background-color: #18151566;
    display: flex;
}
.table-striped > tbody > tr:nth-of-type(2n){
    background-color: rgba(51, 41, 68, 0.71);
    color: white;
}
.table-striped > tbody > tr:nth-of-type(2n + 1){
    background-color: rgba(51, 41, 68, 0.71) !important;
    color: white;
}
th{
    color: white;
}
#thumbnail_image{
    position:absolute;
    z-index:1;
    background: #0000001f;
    width:50%;
    display:block;
    margin-top: 8px;
    visibility: hidden;
    left: 21%;
    height:84px;
    transform:translateY(-300px);
    opacity:0;
    transition:1s;
}

.display_select_file{
    z-index:1;
}
#add_object{
    z-index:999;
    position:absolute;
    background-color: red;
}


.thumbnails{
    position:relative;
}
#myImgMap{
    width:100%;
    height:400px;
}

a-assets, a-scene audio, a-scene img, a-scene video{
    display:unset;
}
#thumb-street,#thumb-corridor,#thumb-lounge,#thumb-parlor{
    margin-left:9px;
}
#map{
    position:relative;
}
button#lionA,
button#deerA
{
    position:absolute;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    border-radius: 20px;
}
button#lionA{
    top: 56%;
    left: 75%;
}
button#deerA{
    top: 34%;
    left: 32%;
}
button#lionA:hover,
button#deerA:hover
{
    color: black;
    background-color: white;
    border-color: green;
    border-radius: 20px;
}

.display_select_file{
    display: relative;
}
#add_object{
    display: absolute;
    color: white;
    height: 100px;
    width: 100px;
}


#action_menu{
    position: absolute;
    z-index: 1;
}

#lion_img_display{
    z-index: 1;
}
#deer_img_display{
    z-index: 1;
}
#goto_gate{
    position: relative;
    z-index:1;
}
#goto_inside{
    position: relative;
    z-index: 1;
}
#thumbnail_image{
    cursor: pointer;
}
.left_btn{
    display: flex;
    flex: 1;
}
#drag, #a-frame{
    display: flex;
    margin-left: 10%;
    justify-content: left;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
a{
    color: white !important;
}